
                <p id="api-message" class="mod mod2 message">
                    <span class="col">
                        <strong>What is API Viewer?</strong>
                        <a href="http://twiki.corp.yahoo.com/view/Media/APIViewer#Introduction">API Viewer</a> allows you to view internal APIs from various properties across Yahoo!. Property owned <a href="http://www.w3.org/Submission/wadl/">WADL</a>
                        documents describe how their APIs work. API Viewer collects these documents and builds an interface
                        that allows users to understand how to use them.
                        
                        <strong>How do I add my API's?</strong>
                        Adding your property is easy; follow the <a href="http://twiki.corp.yahoo.com/view/Media/APIViewer#Setup_Instructions" target="_blank">twiki instructions</a> 
                        to get your API's listed today.
                    
                        <strong>Try it out</strong>
                        Choose a property from the list below or click a Recent Query to see an example.
                    </span>
                </p>
